.MuiSpeedDial-fab {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid grey !important;
  width: 48px !important;
  height: 48px !important;
  margin: 0% !important;
  padding: 0% !important;
}
.MuiSpeedDialIcon-icon {
  color: #000;
}
.MuiSpeedDial-root {
  position: absolute !important;
  top: 0px !important;
}
.css-15np79d {
  position: absolute !important;
}
.MuiSpeedDial-root:hover {
  background: #fff !important;
}
