.new-story {
  padding: 0rem 7rem;
  height: auto !important;
}
.vertical-divider {
  color: black !important;
  height: 55px !important;
  margin-left: 80px !important;
}
.title {
  height: 60px !important;
  display: flex !important;
  padding-bottom: 1rem;
  padding: 2rem 0rem;
}
.title-input {
  height: 50px !important;
  width: 90%;
  margin-left: 10px !important;
  border: none;
  font-family: "Times New Roman", Times, serif !important;
  font-size: 2.5rem;
}
::placeholder {
  color: rgb(190, 189, 189);
}
.title-input:focus {
  outline: none;
}
.story-input {
  width: 90%;
  border: none;
  font-size: 1.25rem;
  margin-left: 10px !important;
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  font-family: "Times New Roman", Times, serif !important;
  resize: none;
}
.story-input::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.story-input:focus {
  outline: none;
}
.story {
  display: flex !important;
  height: auto !important;
}

.story-content {
  padding: 0rem 5rem !important;
}
.publish-btn{
  background: #1a8917 !important;
  color: #fff !important;
  text-transform: inherit !important;
  border-radius: 2rem !important;
  padding: 0% !important;
}