.home-container {
  display: flex;
}
.home-blog-posts {
  width: 60%;
  padding: 1rem 3rem;
}
.add-icon {
  margin: auto 1rem;
  width: 1rem !important;
  cursor: pointer;
}
.tabs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
  width: auto !important;
}

.text-form {
  text-transform: inherit !important;
  color: #6b6b6b !important;
  height: 60px;
}

.text-form:focus {
  color: #000 !important;
  font-weight: 600;
}

.MuiTabs-indicator {
  background-color: #6b6b6b !important;
}
.home-suggestions-container {
  width: 30%;
  position: -webkit-sticky;
  position: sticky;
  height: 40rem !important;
  top: 0;
  border-left: 1px solid #f2f2f2;
  padding: 1.5rem;
}
.post-details-right {
  display: flex;
  align-items: center;
}
.css-19kzrtu {
  padding: 0% !important;
}
.picks-btn {
  color: #1a8917;
  position: relative;
  top: 1rem;
  cursor: pointer;
}
.recommended-topics {
  padding: 1.5rem 0rem;
}
.chips {
  display: flex;
  flex-wrap: wrap;
}
.chip {
  margin: 0.5rem;
  padding: 1.25rem 0rem !important;
}
@media only screen and (max-width: 900px) {
  .home-blog-posts {
    padding: 0.5rem !important;
    width: 95%;
  }
  .home-suggestions-container {
    display: none !important;
  }
  .tabs {
    width: 95%;
  }
  .blog-posts {
    width: 100%;
  }
}
